/* .app {
	border-radius: 10px;
	box-shadow:
		0px 3px 6px 0px rgba(0, 0, 0, 0.15),
		0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-block-start: 2em;
	max-inline-size: 22rem;
	overflow: hidden;
}

.display {
	background: hsl(202, 11%, 29%);
	color: hsl(255, 100%, 100%);
	font-size: 2rem;
	padding-block-start: 0.5rem;
	padding-block-end: 0.5rem;
	padding-inline-end: 0.75rem;
	text-align: end;
}

.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1px;
	background: hsl(207, 19%, 61%);
	list-style: none;
}

.button {
	background: hsl(210, 25%, 95%);
	border: none;
	font-size: 2rem;
	inline-size: 60px;
	block-size: 60px;
	border-radius: 40px;
	margin: 0.25rem;
}

.button:active,
.button:focus {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
	outline: none;
} */

.app {
	border-radius: 10px;
	box-shadow:
		0px 3px 6px 0px rgba(0, 0, 0, 0.15),
		0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-block-start: 2em;
	max-inline-size: 22rem;
	overflow: hidden;
	color: hsl(202, 11%, 29%);
}
.display {
	background: hsl(255, 100%, 100%);
	font-size: 4.2rem;
	padding-block-start: 3rem;
	padding-block-end: 0.5rem;
	padding-inline-end: 1.25rem;
	text-align: end;
}
.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1px;
	background: hsl(255, 100%, 100%);
	padding: 0.5rem;
	list-style: none;
}
.item {
	/* background: hsl(210, 25%, 95%);
	border: none; */
	/* padding-block-start: 1rem;
	padding-block-end: 1rem;
	padding-inline-end: 1.25rem;
	padding-inline-start: 1.25rem; */
	/* font-size: 1.5rem; */
	inline-size: 70px;
	block-size: 70px;
	margin: 0.25rem;
	/* border-radius: 40px;
	cursor: pointer; */
}
.item--operator {
	grid-column: 4 / 4;
	grid-row: 1 / 4;
}
.item--operator-plus {
	grid-column: 4 / 4;
	grid-row: 2 / 4;
}
.item--zero {
	grid-column: 1 / span 2;
	grid-row: 4 / 4;
	width: auto;
}
.item--enter {
	grid-column: 4 / 4;
	grid-row: 3 / span 4;
	height: auto;
}
.item--reset {
	grid-column: 3 / 4;
	grid-row: 4 / 4;
}
.button {
	font-size: 1.5rem;
	/* inline-size: 70px;
	block-size: 70px; */
	background: hsl(210, 25%, 95%);
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	cursor: pointer;
}
.button:hover {
	color: darkturquoise;
}
.button:active,
.button:focus {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
	outline: none;
}

.button--operator {
	background: hsl(208, 25%, 86%);
}
.button--operator:active {
	background: hsl(208, 24%, 80%);
}
.button--enter {
	background: hsl(357, 100%, 72%);
}
.button--reset {
	background: hsl(57, 75%, 50%);
}
